" -*- mode: vimrc -*-

source ~/Documents/github.com/deirn/fedoracfg/share/idea-doom-emacs/init.vim

Plug 'tpope/vim-surround'
Plug 'preservim/nerdtree'
Plug 'terryma/vim-multiple-cursors'

set visualbell
set hlsearch
"set quickscope

set clipboard+=unnamed
"set shell=bash.exe
"set shellcmdflag=-lic

iunmap jk
